[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mgarchBEKK"]
	path = mgarchBEKK
	url = https://github.com/vst/mgarchbekk
[submodule "rkvo"]
	path = rkvo
	url = https://github.com/vst/rkvo
